
<EditForm Model="Actor" OnValidSubmit="OnValitSubmit">
    <DataAnnotationsValidator/>

    <div class="mb-3">
        <label>Nombre:</label>
        <InputText class="form-control" @bind-Value="@Actor.Nombre" />
        <ValidationMessage For="@(()=> Actor.Nombre)"/>
    </div>

    <div class="mb-3">
        <label>Fecha Nacimiento:</label>
        <InputDate class="form-control" @bind-Value="@Actor.FechaNacimiento" />
        <ValidationMessage For="@(()=> Actor.FechaNacimiento)" />
    </div>

    <div class="mb-3">
        <InputImg Label="Foto" ImagenSeleccionada="ImagenSeleccionada" ImagenUrl="@imagenUrl"></InputImg>
    </div>
    <div class="mb-3 form-markdown">
        <InputMarkdown @bind-Value="@Actor.Biografia" For="@(()=> Actor.Biografia)" Label="Biografia"/>
    </div>

    <button class="btn btn-success">Guardar Cambios</button>

</EditForm>

@code {
    string? imagenUrl;

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(Actor.Foto))
        {
            imagenUrl = Actor.Foto;
            Actor.Foto = null;
        }
    }

    private void ImagenSeleccionada(string imagenBase64)
    {
        Actor.Foto = imagenBase64;
        imagenUrl = null;
    }

    [Parameter]
    [EditorRequired]
    public Actor Actor { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public EventCallback OnValitSubmit { get; set; }



}
